<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reportify</title>
        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Import Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    </head>

    <body style="background-color: #00000083;">
        <div class="navbar">
          <a id="logo-holder" href="/">
            <img src="images/Reportify.png" height="300" alt="" loading="lazy">
          </a>
          
          <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <nav class="nav-bar">
            <ul>
              <li><a href="/" class="active">Home</a></li>
              <li><a href="/list">Catégories</a></li>
              <li><a href="/report">Review</a></li>
              <li><a href="#basdepage">Contact</a></li>
              <li>
                <h4 id="name-holder">
                  <% if(user){ %>
                    <a> <%= user.username %> </a>
                    <ul><li><button onclick="logout()">Déconnexion</button></li></ul>
                  <% } else{ %>  
                    <a href="/auth">Login</a>
                  <% } %>
                </h4>
              </li>
            </ul>
            <!--<div class="search-container">
              <form action="/search/process" method="post">
                <input class="search-input" type="text" placeholder="search" name="keyword" value=''>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>-->
          </nav>
        </div>

        <script src="navbar/navbar.js"></script>
        <!--<p class="date-holder" id="date-holder"></p>-->
        <div class="page" >
          <div id='status' class='invisible'><%= errormessage %></div>
            <% if(user){ %>

              <div class="cadre1-user">
              <canvas id="myChart" height="550" width="550"></canvas>
            
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                    var data = <%- JSON.stringify(data)%>;
                    const ctx = document.getElementById('myChart');
                    new Chart(ctx, {
                      type: 'radar',
                      data: {
                        labels: ["Pop", "Rock", "Jazz", "Classique", "Rap", "RnB", "Electro"],
                        datasets: [
                        {
                          label: 'Average Rating',
                          data: data,
                          fill: true,
                          backgroundColor: 
                          [
                          'rgba(255, 99, 132, 0.2)',
                          ],
                          borderColor: 
                          [
                            // You can also specify colors for the borders of each data point
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(95, 199, 132, 1)'
                          ],
                          pointBackgroundColor: 'rgb(255, 99, 132)',
                          pointBorderColor: '#FFFFFF',
                          pointHoverBackgroundColor: '#FFFFFF',
                          pointHoverBorderColor: 'rgb(255, 99, 132)'
                        }]
                      },
                      options: {
                        responsive: true,
                        elements: {
                          line: {
                            borderWidth: 3
                          }
                        },
                        scale: {
                            ticks: {
                                min: 0,
                                max: 10,
                                stepSize: 1
                            }
                        }
                      }
                    });
              </script>
            </div>
            <div class="cadre2-user">
              <canvas id="mypieChart" height="550" width="550"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var nbr_of_songs_data = <%- JSON.stringify(nbr_of_songs_data)%>;
                const cty = document.getElementById('mypieChart');
                new Chart(cty, {
                    type: "doughnut",
                    data: {
                      labels: ["Pop", "Rock", "Jazz", "Classique", "Rap", "RnB", "Electro"],
                      datasets: [{
                        data: nbr_of_songs_data,
                        label: 'Nombre de musique dans ce genre: ',
                        fill: true,
                        backgroundColor: [
                          // You can specify colors for each data point here
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(95, 199, 232, 0.2)'
                        ],
                        borderColor: [
                          // You can also specify colors for the borders of each data point
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(95, 199, 232, 1)'
                        ],
                      }]
                    },
                    options: {
                      cutoutPercentage: 50, // This sets the inner radius of the doughnut
                      rotation: -0.5 * Math.PI, // This rotates the chart by 90 degrees
                      responsive: true,
                      maintainAspectRatio: false,
                      responsive: true,
                      elements: {
                        line: {
                          borderWidth: 3
                        }
                      },
                    }
                  });
            </script>
            </div>
            
              <div>
                <center><button onclick="window.location.href='/report';" class="button1">Nouvelle Chanson</button></center>
              </div>
          
            <% }else{ %>
              <h2 class="h2-not-users">Afin de noter vos propres musiques, veuillez vous connecter ou créer un compte</h2>
              <div class="cadre1-not-user"><h1>?</h1></div>
              <div class="cadre2-not-user"><h1>?</h1></div>
            <% } %>

            <footer>
              <a name="basdepage"></a>
              <ul>
                <li>Thomas Geyens: thomas.geyens@student.uclouvain.be</li>
                <li>Arthur Remience: arthur.remience@student.uclouvain.be</li>
                <li>Loris Dognaux: loris.dognaux@student.uclouvain.be</li>
              </ul>
          </footer>
        </div>
    </body>

    <script>
      if(document.getElementById('status').innerHTML!='')
      {
        alert(document.getElementById('status').innerHTML);
      }

      const d = new Date();
      document.getElementById('date-holder').innerHTML = "Date actuelle: " + d.getDate() + "-" + (d.getMonth()+1) + "-" + d.getFullYear();
    </script>
</html>
