.content-top {
  width:100%;
  margin:0 auto;
}

.report-link{
  display: inline-block;
  margin-left: 20px;
}

.date-holder{
  float: right;
  margin-right: 20px;
}

* {
  box-sizing: border-box;
}

.row {
  margin-top: 50px;
  margin-left: 10%;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.button1 {
  border: none;
  color: white;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(255, 255, 255); 
  color: black; 
  border: 2px solid #5a4202;
}


.button1:hover {
  background-color: #523800;
  color: white;
}