body{
    margin: 0px;
}

#logo-holder {
  color:black;
  display:block;
  float:left;
  margin-left: 30px;
  margin-top: 15px;
}

#name-holder {
  color:black;
  display:block;
  float:right;
  margin-right: 5%;
}
.navbar {
  width:100%;
  margin:0 auto;
  display:inline-block;
  text-align:center;
  background-color: rgba(255, 180, 68, 0.534);
}

.search-container {
  float: right;
  color:black;
  margin-right: 5%;
  margin-top: 5px;
}

.search-input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.invisible {
  display: none;
  visibility: hidden;
}
