<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="/report.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Reportify</title>
    </head>

    <body>
      <div class="navbar">
        <div class="logo">Reportify</div>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <nav class="nav-bar">
          <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="">Catégories</a></li>
            <li><a href="">Review</a></li>
            <li><a href="#basdepage">Contact</a></li>
            <li>
              <h4 id="name-holder">
                <% if(user){ %>
                  <a> <%= user.username %> </a>
                <% } else{ %>  
                  <a href="/auth">Login</a>
                <% } %>
              </h4>
            </li>
          </ul>
          <!--<div class="search-container">
            <form action="/search/process" method="post">
              <input class="search-input" type="text" placeholder="search" name="keyword" value=''>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>-->
        </nav>
      </div>

      <div class="page">
        <center><h1>Notez donc votre chanson !</h1></center>
        <div class="titre">
          <form action="post">
            <h2>Titre de la chanson :</h2>
            <label for="desc"></label>
            <input type="text" id="formfield" placeholder="Entrer Titre" name="desc" required>
          </form>
        </div>
        <div class="avis">
          <form action="post">
            <h2>Avis sur la chanson :</h2>
            <label for="desc"></label>
            <input type="text" id="formfield" placeholder="Entrer Avis" required>
          </form>
        </div>
        <div class="note">
          <form action="post">
            <div class="custom-select">
              <h2>Une note sur 10 ?</h2>
              <label for="note"></label>
              <select name="note" id="note" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </form>
        </div>
        <div class="genre">
          <form action="post">
            <div class="custom-select">
              <h2>Genres :
              <label for="genre"></label>
              <select name="genre" id="genre" required>
                <option value="1">Pop</option>
                <option value="2">Rap</option>
                <option value="3">Electro</option>
                <option value="4">Rock</option>
                <option value="5">Classique</option>
                <option value="6">RnB</option>
                <option value="7">Jazz</option>
              </select>
              </h2>
            </div>
          </form>
        </div>
        <center><button type="submit" id="button">Valider</button></center>

        <footer>
          <a name="basdepage"></a>
          <ul>
            <li>Thomas Geyens: thomas.geyens@student.uclouvain.be</li>
            <li>Arthur Remience: arthur.remience@student.uclouvain.be</li>
            <li>Loris Dognaux: loris.dognaux@student.uclouvain.be</li>
          </ul>
        </div>
        
      </footer>
      
    </body>
</html>
