<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="/report.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Reportify</title>
    </head>

    <body>
      <div class="navbar">
        <a id="logo-holder" href="/">
          <img src="images/Reportify.png" height="300" alt="" loading="lazy">
        </a>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <nav class="nav-bar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">Catégories</a></li>
            <li><a href="/report" class="active">Review</a></li>
            <li><a href="#basdepage">Contact</a></li>
            <li>
              <h4 id="name-holder">
                <% if(user){ %>
                  <a> <%= user.username %> </a>
                <% } else{ %>  
                  <a href="/auth">Login</a>
                <% } %>
              </h4>
            </li>
          </ul>
          <!--<div class="search-container">
            <form action="/search/process" method="post">
              <input class="search-input" type="text" placeholder="search" name="keyword" value=''>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>-->
        </nav>
      </div>

    <div class="page">
        <center><h1>Notez donc votre chanson !</h1></center>
      <form method="post">
        <div class="titre"> 
          <h2 class="h2-left">Titre de la chanson :</h2>
            <label for="na_art"></label>
            <input type="text" name="na_art" id="formfield" placeholder="Entrer title and artist" required>
        </div>
        <div class="avis">
          <h2 class="h2-left">Avis sur la chanson :</h2>
            <label for="desc"></label>
            <input type="text" name="desc" id="formfield" placeholder="Entrer descriprion" required>
        </div>
        <div class="note">
            <div class="custom-select">
              <h2 class="h2-right-2">Une note sur 10 ?</h2>
              <label for="rat"></label>
              <select name="rat" id="note" required class="bottom">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <a></a>
              <a></a>
              <a></a>
            </div>
        </div>
        <div class="genre">
            <div class="custom-select">
              <h2 class="h2-right-1">Genres :</h2>
              <label for="gnr"></label>
              <select name="gnr" id="genre" required class="top">
                <option value="Pop">Pop</option>
                <option value="Rap">Rap</option>
                <option value="Electro">Electro</option>
                <option value="Rock">Rock</option>
                <option value="Classique">Classique</option>
                <option value="RnB">RnB</option>
                <option value="Jazz">Jazz</option>
              </select>
            </div>
        <div class="button">
          <center><button type="submit" id="button" class="valider">Valider</button></center>
        </div>    
      </form>
      <footer>
        <a name="basdepage"></a>
        <ul>
          <li>Thomas Geyens: thomas.geyens@student.uclouvain.be</li>
          <li>Arthur Remience: arthur.remience@student.uclouvain.be</li>
          <li>Loris Dognaux: loris.dognaux@student.uclouvain.be</li>
        </ul>
    </footer>
    </div>
      
    </body>
</html>
